# Reto MIS3 Fundamentos de Ciencias de Datos

## Reto Número 1.

Hola te doy la bienvenida a tu reto, recuerda que:
1.	Debes realizar una copia de este Colab en tu Drive personal.
2.	Resuelve el reto en la copia que realizaste.
3.	Envía la liga pública de tu reto resuelto a través del canal general.

Realiza lo siguiente:

1) Sube el [archivo](https://drive.google.com/file/d/1wL0-d1yjmJzNItLGf6QmL34X9gtIHL6X/view?usp=sharing) proporcionado a Google Colab (como se muestra en la imagen) y cargalo con la importación de numpy

![importar archivos.png]()

2) Examina de qué tipo arreglo es y su dimensión.

3) De la primera columna, usa toda las funciones de agregación vistas en clase: sum, min, cumsum, etc.

Tip: Para seleccionar el primer arreglo de un arreglo 2D , se usa: A[:,0], donde ":" significa tomar todos los elementos del arreglo y el segundo parámetro significa que sea del primer arreglo. Recordando que el conteo siempre inicia desde 0, por lo tanto 0 es el primer elemento y 1 es el segundo, y así sucesivamente.

¡Cuidado! Revisa como se usa correctamente la función de mediana [ejemplo](https://numpy.org/doc/stable/reference/generated/numpy.median.html)

In [65]:
# importa la librería de Numpy
import numpy as np
from numpy import int32

In [66]:
# 1)
arr1 = np.genfromtxt("semana3.txt", dtype=int32)

In [67]:
# 2) Imprime la clase de arr1 y las dimensiones
print(type(arr1))
print(arr1.shape)
print(arr1)
print(arr1.dtype)
# print(arr1.___)

<class 'numpy.ndarray'>
(18, 3)
[[8 7 3]
 [3 6 4]
 [6 1 2]
 [1 9 2]
 [4 5 7]
 [5 3 1]
 [3 9 2]
 [9 7 3]
 [6 6 8]
 [8 7 4]
 [9 6 3]
 [3 4 7]
 [4 2 6]
 [6 4 9]
 [3 8 9]
 [2 7 4]
 [9 6 6]
 [4 4 8]]
int32

In [68]:
# 3) Obten el mínimo, el máximo y la mediana.
# Tip: observa cómo están realizandos los demás...
a = arr1[:, 0].sum()
print(f"sum {a}")

b = arr1[:, 0].min()
print(f"min: {b}")

c = arr1[:, 0].max()
print(f"max: {c}")

d = arr1[:, 0].cumsum()
print(f"cumsum: {d}")

e = arr1[:, 0].mean()
print(f"mean: {e}")

f = np.median(arr1, axis=0)
print(f"median: {f}")

g = arr1[:, 0].std()
print(f"std: {g}")

sum 93
min: 1
max: 9
cumsum: [ 8 11 17 18 22 27 30 39 45 53 62 65 69 75 78 80 89 93]
mean: 5.166666666666667
median: [4.5 6.  4. ]
std: 2.5

## Reto Número 2.

1) Utiliza el arreglo de numpy para crear el dataframe por medio de un diccionario (La primer columna se nombrara "A", la segunda "B" y la tercera "C")

2) Utiliza los mismos métodos utilizados de numpy pero en pandas para la columna A y observa si dieron los mismos resultados.

In [69]:
# 1
import pandas as pd

dic = {"A": arr1[:, 0], "B": arr1[:, 1], "C": arr1[:, 2]}

df = pd.DataFrame(dic)

df.head()

   A  B  C
0  8  7  3
1  3  6  4
2  6  1  2
3  1  9  2
4  4  5  7

In [70]:
# 2)
# Suma
a = df.A.sum()
print(f"Suma: {a}")

# Mínimo
b = df.A.min()
print(f"Mínimo: {b}")

# Máximo
c = df.A.max()
print(f"Máximo: {c}")

d = df.A.cumsum()
print(f"Cumsum: {d}")

e = df.A.mean()
print(f"Media: {e}")

# Mediana
f = df.A.median()
print(f"Mediana: {f}")

# Desviación Estándar
g = df.A.std()
print(f"Desviación Estándar: {g}")

Suma: 93
Mínimo: 1
Máximo: 9
Cumsum: 0      8
1     11
2     17
3     18
4     22
5     27
6     30
7     39
8     45
9     53
10    62
11    65
12    69
13    75
14    78
15    80
16    89
17    93
Name: A, dtype: int64
Media: 5.166666666666667
Mediana: 4.5
Desviación Estándar: 2.5724787771376327

# Reto Alto Nivel (Opcional)

El usa el siguiente archivo para complementar lo siguiente [titanic.csv](https://github.com/asalber/asalber.github.io/blob/master/docencia/python/ejercicios/soluciones/pandas/titanic.csv)

1. Crea un DataFrame con los datos prorcionados.
2. Muestra las dimensiones del DataFrame.
3. Muestra los datos que contiene.
4. Muestra los nombres de sus columnas y filas.
5. Muestra las primeras 10 filas y las 10 últimas filas.
6. Muestra las filas pares del DataFrame.
7. Muestra los nombres de las personas que iban en segunda clase ordenadas alfabéticamente.
8. Muestra el porcentaje de personas que sobrevivieron y murieron.
9. Muestra el porcentaje de personas que sobrevivieron en cada clase.
10. Elimina del DataFrame los pasajeros con edad desconocida.
11. Muestra la edad media de las mujeres que viajaban en cada clase.
12. Muestra por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

Eso es todo por ahora, no olvides socializar tus respuestas en el *canal general * y consultar a tu coach cualquier duda que tengas.
¡Que tengas mucho éxito!

In [78]:
# 1. Crea un DataFrame con los datos prorcionados.
df = pd.read_csv("titanic.csv", index_col="PassengerId")

In [80]:
# 2. Muestra las dimensiones del DataFrame.
df.shape

(891, 11)

In [81]:
# 3. Muestra los datos que contiene.
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [83]:
# 4. Muestra los nombres de sus columnas y filas.
print("Columns: ======================")
print(df.columns)
print("Indexes: ======================")
print(df.index.values)

Columns: ======================
Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Indexes: ======================
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648
 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666
 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684
 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702
 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720
 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738
 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756
 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774
 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792
 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810
 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828
 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846
 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864
 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882
 883 884 885 886 887 888 889 890 891]

In [86]:
# 5. Muestra las primeras 10 filas y las 10 últimas filas.
print(df.tail(10))

print(df.head(10))

             Survived  Pclass                                      Name  \
PassengerId
882                 0       3                        Markun, Mr. Johann
883                 0       3              Dahlberg, Miss. Gerda Ulrika
884                 0       2             Banfield, Mr. Frederick James
885                 0       3                    Sutehall, Mr. Henry Jr
886                 0       3      Rice, Mrs. William (Margaret Norton)
887                 0       2                     Montvila, Rev. Juozas
888                 1       1              Graham, Miss. Margaret Edith
889                 0       3  Johnston, Miss. Catherine Helen "Carrie"
890                 1       1                     Behr, Mr. Karl Howell
891                 0       3                       Dooley, Mr. Patrick

                Sex   Age  SibSp  Parch            Ticket     Fare Cabin  \
PassengerId
882            male  33.0      0      0            349257   7.8958   NaN
883          female  22.0      0      0              7552  10.5167   NaN
884            male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN
885            male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN
886          female  39.0      0      5            382652  29.1250   NaN
887            male  27.0      0      0            211536  13.0000   NaN
888          female  19.0      0      0            112053  30.0000   B42
889          female   NaN      1      2        W./C. 6607  23.4500   NaN
890            male  26.0      0      0            111369  30.0000  C148
891            male  32.0      0      0            370376   7.7500   NaN

            Embarked
PassengerId
882                S
883                S
884                S
885                S
886                Q
887                S
888                S
889                S
890                C
891                Q
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
6                0      0            330877   8.4583   NaN        Q
7                0      0             17463  51.8625   E46        S
8                3      1            349909  21.0750   NaN        S
9                0      2            347742  11.1333   NaN        S
10               1      0            237736  30.0708   NaN        C

In [90]:
# 6. Muestra las filas pares del DataFrame.
df.iloc[1::2]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [94]:
# 7. Muestra los nombres de las personas que iban en segunda clase ordenadas alfabéticamente.
df[df["Pclass"] == 2]["Name"].sort_values()

PassengerId
309                                  Abelson, Mr. Samuel
875                Abelson, Mrs. Samuel (Hannah Wizosky)
145                           Andrew, Mr. Edgardo Samuel
519    Angle, Mrs. William A (Florence "Mary" Agnes H...
758                             Bailey, Mr. Percy Andrew
                             ...
34                                 Wheadon, Mr. Edward H
674                                Wilhelms, Mr. Charles
18                          Williams, Mr. Charles Eugene
200               Yrois, Miss. Henriette ("Mrs Harbeck")
362                            del Carlo, Mr. Sebastiano
Name: Name, Length: 184, dtype: object

In [95]:
# 8. Muestra el porcentaje de personas que sobrevivieron y murieron.
df["Survived"].value_counts(normalize=True) * 100

Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64

In [96]:
# 9. Muestra el porcentaje de personas que sobrevivieron en cada clase.
df.groupby("Pclass")["Survived"].value_counts(normalize=True) * 100

Pclass  Survived
1       1           62.962963
        0           37.037037
2       0           52.717391
        1           47.282609
3       0           75.763747
        1           24.236253
Name: proportion, dtype: float64

In [99]:
# 10. Elimina del DataFrame los pasajeros con edad desconocida.
df.dropna(subset=["Age"], inplace=True)

In [100]:
# 11. Muestra la edad media de las mujeres que viajaban en cada clase.
df.groupby(["Pclass"])["Age"].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [104]:
# 12. Muestra por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
df.loc[df.Age <= 17, "Adulto"] = "No"
df.loc[df.Age > 17, "Adulto"] = "Si"
df.loc[df.Survived == 1, "Sobrevivio"] = "Si"
df.loc[df.Survived != 1, "Sobrevivio"] = "No"
print(df.groupby(["Pclass", "Adulto"])["Sobrevivio"].value_counts(normalize=True) * 100)

Pclass  Adulto  Sobrevivio
1       No      Si            91.666667
                No             8.333333
        Si      Si            63.793103
                No            36.206897
2       No      Si            91.304348
                No             8.695652
        Si      No            58.666667
                Si            41.333333
3       No      No            62.820513
                Si            37.179487
        Si      No            79.783394
                Si            20.216606
Name: proportion, dtype: float64